# Ignore everything by default
*

# Don't ignore .gitignore itself
!.gitignore

# Unignore directories explicitly
!Forge/
!Forge/*.sln
!Forge/*.vcxproj
!Forge/*.vcxproj.filters

# Allow source, headers, text files
!*.c
!*.h
!*.txt

# Ignore build artifacts
*.exe
*.dll
*.lib
*.obj
*.pdb
*.cache
*.pch
*.ipch
[Bb]in/
[Oo]bj/

# Ignore Visual Studio user settings and temp files
.vs/
